@each $theme, $color in $theme-colors {
  .card.card-#{$theme} {
    @extend .bg-#{$theme};
    color: color-yiq($color);

    a:not(.btn) {
      color: color-yiq($color);
      font-weight: 600;

      &:hover {
        color: darken(color-yiq($color), 15%);
      }
    }
  }
}