@import "./vs2015";

pre {
  code {
    @extend .border;
    border-radius: $border-radius * 4;
    overflow: hidden;
    padding: 1em 1.5em !important;
    display: block;
  }
}

:not(pre) > code {
  background: rgba(0, 0, 0, .1);
  color: $dark;
  padding: .15rem .25rem;
  @extend .rounded;
}