@import "./vs2015.min";

pre {
  @extend .rounded;
}

:not(pre) > code {
  background: map-get($theme-colors, light);
  color: map-get($theme-colors, dark);
  padding: .25rem .5rem;
  @extend .rounded;
}