.row > .col-auto.col-number[data-num] {
  width: 2rem;
  max-width: 2rem;
  margin-right: $spacer / 2;
  
  &::after {
    content: attr(data-num) ".";
    font-size: 2rem;
    font-weight: 600;
    opacity: .25;
  }
}

.notes {
  ol, ul {
    counter-reset: li;
    list-style: none;
  
    li {
      counter-increment: li;
      display: block;

      &:not(:last-child) {
        margin-bottom: $spacer;
        padding-bottom: $spacer;

        border-bottom: 1px solid rgba(0, 0, 0, .25);
      }

      > p:first-child {
        margin-top: -2.5rem;
      }
      
      &::before {
        display: inline-block;
        margin-left: -2.5rem;
        font-size: 2rem;
        font-weight: 600;
        opacity: .25;
        // padding-bottom: .5rem;
      }
    }
  }

  ol li::before {
    content: counter(li) ".";    
  }

  ul li::before {
    content: "•";
    transform: translate(0, -.3rem);
  }
}