@mixin icon-colors($icons) {
  @each $i in $icons {
    $c: theme-color($i);
    &.fa-#{$i}, &[data-icon^=#{$i}] {
      color: $c;

      .bg-#{$i} & {
        color: color-yiq($c);
      }
    }
  }
}

svg {
  @include icon-colors((discord, github, twitch));
}