.md-content {
  padding-left: 2rem;

  h2 {
    color: lighten(black, 30%);
  }

  @for $i from 1 through 6 {
    > h#{$i} {
      margin-left: -2rem / $i;
      color: mix(lightblue, black, (($i - 1) * 20));
    }
  }

  .card {
    margin-bottom: 2rem;
  }
}