@mixin header-style($style, $fn) {
  @for $i from 1 through 6 {
    h#{$i} {
      #{$style}: call($fn, $i);
    }
  }
}

@function headerIndent($i) {
  @return -2rem / $i;
}

@function headerPurplen($i) {
  @return mix(theme-color-level(me, -5), black, (($i - 1) * 20));
}

.md-content > section {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(md) {
    padding-left: 2rem;
    max-width: calc(100vw - 260px);

    & > {
      @include header-style(margin-left, get-function("headerIndent"));
    }
    
    .next-btn {
      margin-left: -2rem;
    }
  }

  >, :not(.card-header) > {
    @include header-style(color, get-function("headerPurplen"));
  }
  
  .card {
    margin-bottom: 2rem;
  }

  h1, h2, h3, h4, h5, h6 {
    + .card {
      margin-top: 1rem;
    }
  }
}

.card-body, .alert {
  p:last-child {
    margin-bottom: 0;
  }
}