.modal.img-modal {
  .modal-dialog {
    max-width: 90vw;
    width: unset;
    height: unset;
    justify-content: space-around;
    align-items: center;

    .modal-content {
      max-width: 90vw;
      height: unset;
      width: unset;

      img {
        max-width: 90vw;
      }
    }
  }
}