#navbar-wrapper {
  z-index: 100;
  
  @include media-breakpoint-only(xs) {
    margin: 0 -15px 2rem;
  }
  
  @include media-breakpoint-down(sm) {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-bottom: solid 1px $border-color;
    margin-left: -$spacer;
    margin-right: -$spacer;
  }
}

@include media-breakpoint-down(sm) {
  div.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 99;
  }
  
  body.noscroll {
    overflow: hidden;
    height: 100%;
    max-height: 100%;
    
    div.overlay {
      position: fixed;
      height: 100%;
    }
  }
}

#nav {
  position: sticky;
  top: 0;
  
  @include media-breakpoint-up(lg) {
    min-width: 260px;
  }
  
  @include media-breakpoint-up(md) {
    border: $border-width solid $border-color;
    border-radius: $border-radius;
    top: $spacer;
    max-height: calc(100vh - #{$spacer * 2});
    padding-top: 0;
    padding-bottom: 0;
  }
}

#nav-div {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  
  &::-webkit-scrollbar {
    display: none;
  }

  @include media-breakpoint-down(sm) {
    max-height: calc(100vh - 32px);
  }

  @include media-breakpoint-up(md) {
    max-height: calc(100vh - #{$spacer * 2});
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 0;
    margin-bottom: 0;
  }
}

#nav-items {
  @include media-breakpoint-down(sm) {
    margin-bottom: 40px;
  }

  > .nav > li > a:not(.navbar-brand) {
    font-size: 1.15rem;
    white-space: nowrap;
  }
  
  .nav .nav {
    margin-left: .75rem;
    
    .nav-item {
      padding-left: .5rem;
      
      a {
        text-indent: -.5rem;
      }
    }
  }
  
  > .nav .nav .nav {
    display: none;
  }
  
  .always-active, .active-child { 
    .nav {
      display: flex !important;
    }
  }
  
  a.active, .active-child > a {
    font-weight: bold;
    font-size: 1.2rem;
    
    .fab, .fa, svg {
      font-size: 1.5rem;
    }
  }
  
  .always-active > a {
    font-weight: bold;
    font-size: 1.4rem !important;
    color: $dark;
  }
  
  .fab, .fa, svg {
    font-size: 1.3rem;
  }
}

.nav {
  flex-wrap: nowrap;  
}