.navbar-nav {
  top: 16px;
  position: sticky;
  min-width: 220px;
  align-self: flex-start;
  max-height: calc(100vh - 32px);
  overflow-y: auto;

  > .nav > li > a {
    font-size: 1.15rem;
    white-space: nowrap;
  }

  .nav .nav {
    margin-left: .75rem;

    .nav-item {
      padding-left: .5rem;
      a {
        text-indent: -.5rem;
      }
    }
  }

  > .nav .nav .nav {
    display: none;
  }

  .always-active .nav {
    display: flex !important;
  }

  a.active {
    font-weight: bold;
    
    .fab, .fa, svg {
      font-size: 1.5rem;
    }
  }

  .always-active > a {
    font-weight: bold;
    font-size: 1.4rem !important;
  }

  .fab, .fa, svg {
    font-size: 1.3rem;
  }
}

.nav {
  flex-wrap: nowrap;  
}