@import "./bootstrap";
@import "~bootstrap/scss/bootstrap";
@import "./utilities";
@import "./card";
@import "./alert";
@import "./tooltip";

@import "./icons";

body {
  padding-bottom: 16px;
}

.btns-col {
  @include media-breakpoint-only(xl) {
    max-width: 30vw;
  }

  .btn {
    min-width: 20vw;
  }
}

.text-wrap {
  white-space: normal;
}

#brand {
  @include media-breakpoint-only(xs) {
    font-size: 4em;
  }
}

#tagline span {
  margin-left: -1px;
}