{
    "sourceMaps": true,
    "retainLines": true,
    "presets": [
        "env",
        "es2017",
        [ "es2015", { "modules" : "commonjs" } ]
    ],
    "plugins": [
        [
            "transform-runtime",
            {
                "polyfill": false
            }
        ]
    ]
}