<div id="deprecated" class="alert alert-warning alert-dismissable" role="alert">
  <p>Pokémon Soul.Link has been deprecated!  Hurray!  It was fun, but I'm tired of supporting it.</p>
  <p>I highly recommend you use <a href="https://discord.gg/uAmabPMD">PokéLink</a> instead.  It is much, much easier to set up.  I would only use Pokèmon Soul.Link if you want very fine-grained styling and have skills with CSS.</p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>