<div class="modal fade img-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" data-dismiss="modal">
            <img src="<%- src %>" />
            <figcaption><%= caption %></figcaption>
        </div>
    </div>
</div>