<div class="jumbotron rounded-0 bg-secondary text-white mb-0 mb-md-5">
    <div class="container-fluid">
        <h1 class="display-4"><a href="/">Pokémon Soul.Link</h1></a>
        <% if (subtitle) { %>
            <h3 class="lead ml-4"><%- subtitle %><h3>
        <% } %>
    </div>
</div>