<div class="jumbotron jumbotron-fluid bg-secondary text-light mb-0 mb-md-5">
    <div class="container-fluid">
        <h1 class="display-4"><a href="/">Pokémon Soul.Link</h1></a>
        <% if (SUB_TITLE) { %>
            <h3 class="lead ml-4"><%- SUB_TITLE %></h3>
        <% } %>
    </div>
</div>