<div id="navbar-wrapper">
    <nav class="navbar-nav flex-column bg-light p-2 px-3 rounded border ml-4">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/index.htm#">Pokémon-Soul.Link</a>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/index.htm#features">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/screenshots.htm">Screenshots</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/index.htm#games-supported">Games Supported</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-me" href="index.htm#contact">
                            Contact me
                            <i class="fab fa-discord ml-2 text-discord"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/index.htm#roadmap">Roadmap</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/index.htm#credits">Credits</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/setup.htm#">Setup</a>
            </li>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="/setup/tutorials.htm#">Tutorial Videos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/setup.htm#installation">Installation</a>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/setup.htm#requirements">Requirements</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/setup.htm#download-the-repository">Download the tool</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/setup.htm#update-to-latest-versoin">How to Update the Tool</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/setup.htm#download-pokemon-images">Pokémon Images</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/setup.htm#install-dependencies">Install Dependencies</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/setup/configuration.htm#">Configuration</a>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/setup/configuration.htm#styling">Styling</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/setup/configuration.htm#nuzlocke">Nuzlocke</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/setup/configuration/soullink.htm#">SoulLink</a>
                        </li>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="/setup/configuration/soullink.htm#discord">Discord</a>
                            </li>
                        </ul>
                    </ul>
                </li>
            </ul>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/dfoverdx/PokeStreamer-Tools">Source Code</a>
            </li>
        </ul>
    </nav>
</div>