<div class="modal" id="dep-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Use PokéLink</h5>
      </div>
      <div class="modal-body">
        <p>
          Pokémon Soul.link has be <b>deprecated</b>.  It is no longer supported, and <i>questions in the Discord server regarding setup <b>will not be answered</b></i>.
        </p>
        <p>
          This website remains solely for people that already use Pokémon Soul.link, and I will likely not renew the domain name when it expires.
        </p>
        <p>
          The good news is that a better, easier alternative exists: <a href="https://discord.gg/uAmabPMD">PokéLink</a>.
        </p>
        <p>
          In order to access this site, type "<b class="no-select">Because I understand that Pokemon Soul.link is NO LONGER SUPPORTED, I will use Pokelink instead! 🧐</b>" in the textbox below.  It is case-sensitive, and yes, you need to type the emoji.  Be grateful I don't make you type the accented é's.
        </p>
        <div class="form-group">
          <input type="text" class="form-control" id="deprecation-input" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal" id="accept-deprecration-warning" disabled>
          Use Pokémon Soul.link
        </button>
        <a href="https://discord.gg/uAmabPMD" class="btn btn-primary">Use PokeLink</a>
      </div>
    </div>
  </div>
</div>